.scrollpage-header{
    text-align: center;
    justify-content: center;
}

.home-bg{

    background-image: url(../../media/camel_desert.jpg);
    background-repeat: "no-repeat";
    background-size: cover;
    height: 100rem;
    width: 100%;
    position: fixed;

  }
.scrollpage-bg{
    background-color: rgb(89 89 89 / 77%);
}
